
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1467120074'); /* IE9*/
  src: url('iconfont.eot?t=1467120074#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1467120074') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1467120074') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1467120074#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-huifu:before { content: "\e608"; }
.icon-job:before { content: "\e602"; }
.icon-fanhui:before { content: "\e607"; }
.icon-dianzan:before { content: "\e609"; }
.icon-shouye:before { content: "\e600"; }
.icon-fabu:before { content: "\e60b"; }
.icon-share:before { content: "\e603"; }
.icon-wode:before { content: "\e601"; }
.icon-good:before { content: "\e604"; }
.icon-xiaoxi:before { content: "\e60a"; }
.icon-top:before { content: "\e606"; }
.icon-ask:before { content: "\e605"; }
.icon-tuichu:before { content: "\e60c"; }
